<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
	<meta name="author" content="themefisher.com">

	<title>PrediSalud | Sistema de Salud</title>

	<!-- Favicon -->
	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="32x32" href="images/emblema.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/emblema.png">
	<link rel="shortcut icon" href="images/emblema.png">
	<link rel="apple-touch-icon" href="images/emblema.png">

	<!-- bootstrap.min css -->
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
	<!-- Icon Font Css -->
	<link rel="stylesheet" href="plugins/icofont/icofont.min.css">
	<!-- Slick Slider  CSS -->
	<link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
	<link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">

	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="css/style.css">

</head>

<body id="top">

	<header>
		<div class="header-top-bar">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<ul class="top-bar-info list-inline-item pl-0 mb-0">
							<li class="list-inline-item"><a href="mailto:support@gmail.com"><i
										class="icofont-support-faq mr-2"></i>SoportePrediSalud@gmail.com</a></li>
							<li class="list-inline-item"><i class="icofont-location-pin mr-2"></i>Dirección: Barrio, El
								Río s/n, 52773 Magdalena Chichicaspa, Méx. </li>
						</ul>
					</div>
					<div class="col-lg-6">
						<div class="text-lg-right top-right-bar mt-2 mt-lg-0">
							<a href="tel:+23-345-67890">
								<span>Llama Ahora : </span>
								<span class="h4">+56-1645-1518</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navigation" id="navbar">
			<div class="container">
				<a class="navbar-brand" href="index.html">
					<img src="images/logo.png" alt="" class="img-fluid">
				</a>

				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain"
					aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icofont-navigation-menu"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarmain">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="index.html">Inicio</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="about.html">Sobre Nosotros</a></li>
						<li class="nav-item"><a class="nav-link" href="service.html">Servicios</a></li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="department.html" id="dropdown02"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Departamentos <i
									class="icofont-thin-down"></i></a>
							<ul class="dropdown-menu" aria-labelledby="dropdown02">
								<li><a class="dropdown-item" href="department.html">Departamentos</a></li>
								<li><a class="dropdown-item" href="department-single.html">Departamento Single</a></li>
							</ul>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="doctor.html" id="dropdown03"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Doctores <i
									class="icofont-thin-down"></i></a>
							<ul class="dropdown-menu" aria-labelledby="dropdown03">
								<li><a class="dropdown-item" href="doctor.html">Doctores</a></li>
								<li><a class="dropdown-item" href="doctor-single.html">Doctor Single</a></li>
								<li><a class="dropdown-item" href="appoinment.html">Cita</a></li>
							</ul>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="blog-sidebar.html" id="dropdown05"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog <i
									class="icofont-thin-down"></i></a>
							<ul class="dropdown-menu" aria-labelledby="dropdown05">
								<li><a class="dropdown-item" href="blog-sidebar.html">Blog con Sidebar</a></li>

								<li><a class="dropdown-item" href="blog-single.html">Blog Single</a></li>
							</ul>
						</li>
						<li class="nav-item"><a class="nav-link" href="contact.html">Contacto</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>



	<section class="page-title bg-1">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block text-center">
						<span class="text-white">Detalles del Doctor</span>
						<h1 class="text-capitalize mb-5 text-lg">Alexandar james</h1>

						<!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">Doctor Details</a></li>
          </ul> -->
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="section doctor-single">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="doctor-img-block">
						<img src="images/team/1.jpg" alt="" class="img-fluid w-100">

						<div class="info-block mt-4">
							<h4 class="mb-0">Alexandar james</h4>
							<p>Cirugía Ortopédica</p>

							<ul class="list-inline mt-4 doctor-social-links">
								<li class="list-inline-item"><a href="#"><i class="icofont-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="icofont-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="icofont-skype"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="icofont-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="icofont-pinterest"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-lg-8 col-md-6">
					<div class="doctor-details mt-4 mt-lg-0">
						<h2 class="text-md">Presentación</h2>
						<div class="divider my-4"></div>
						<p>El Dr. García es un cardiólogo altamente especializado con más de 15 años de experiencia en
							el diagnóstico y tratamiento de enfermedades cardiovasculares. Su formación incluye estudios
							en las mejores universidades médicas del mundo, combinando conocimientos teóricos con
							práctica clínica avanzada.</p>
						<p>Su enfoque se centra en la medicina preventiva y el tratamiento personalizado, utilizando
							tecnología de vanguardia para brindar la mejor atención a sus pacientes. Ha realizado más de
							500 procedimientos cardíacos exitosos y es reconocido por su dedicación y excelencia médica.
						</p>

						<a href="appoinment.html" class="btn btn-main-2 btn-round-full mt-3">Agendar una Cita<i
								class="icofont-simple-right ml-2  "></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section doctor-qualification gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<h3>Mi Formación Académica</h3>
						<div class="divider my-4"></div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6">
					<div class="edu-block mb-5">
						<span class="h6 text-muted">Año(2005-2007) </span>
						<h4 class="mb-3 title-color">MBBS, M.D en la Universidad de Wyoming</h4>
						<p>Formación médica integral con enfoque en cardiología, incluyendo anatomía, fisiología y
							patologías cardiovasculares. Desarrollo de habilidades clínicas y de investigación en el
							campo de la medicina cardiovascular.</p>
					</div>

					<div class="edu-block">
						<span class="h6 text-muted">Año(2007-2009) </span>
						<h4 class="mb-3 title-color">M.D. de la Universidad de Medicina de los Países Bajos</h4>
						<p>Especialización en cardiología intervencionista y técnicas avanzadas de diagnóstico
							cardiovascular. Formación en procedimientos mínimamente invasivos y tecnología de vanguardia
							para el tratamiento de enfermedades cardíacas.</p>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="edu-block mb-5">
						<span class="h6 text-muted">Año(2009-2010) </span>
						<h4 class="mb-3 title-color">MBBS, M.D en la Universidad de Japón</h4>
						<p>Investigación en cardiología preventiva y medicina regenerativa. Desarrollo de protocolos de
							tratamiento personalizados y estudios sobre la relación entre estilo de vida y salud
							cardiovascular.</p>
					</div>

					<div class="edu-block">
						<span class="h6 text-muted">Año(2010-2011) </span>
						<h4 class="mb-3 title-color">M.D. de la Universidad de Canadá</h4>
						<p>Fellowship en cardiología avanzada y subespecialización en electrofisiología cardíaca.
							Experiencia en el manejo de arritmias complejas y dispositivos cardíacos implantables.</p>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="section doctor-skills">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h3>Mis Habilidades</h3>
					<div class="divider my-4"></div>
					<p>Mi experiencia clínica abarca el diagnóstico y tratamiento de todas las patologías
						cardiovasculares, desde la prevención primaria hasta el manejo de casos complejos. Me
						especializo en procedimientos intervencionistas y medicina preventiva para optimizar la salud
						cardiovascular de mis pacientes.</p>
				</div>
				<div class="col-lg-4">
					<div class="skill-list">
						<h5 class="mb-4">Área de Especialización</h5>
						<ul class="list-unstyled department-service">
							<li><i class="icofont-check mr-2"></i>Base de Datos Internacional de Medicamentos</li>
							<li><i class="icofont-check mr-2"></i>Camas y Accesorios de Cama</li>
							<li><i class="icofont-check mr-2"></i>Cushiones y Colchones</li>
							<li><i class="icofont-check mr-2"></i>Pruebas de Colesterol y Lipidos</li>
							<li><i class="icofont-check mr-2"></i>Especialistas en Medicina de Cuidado Crítico</li>
							<li><i class="icofont-check mr-2"></i>Asistencia de Emergencia</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="sidebar-widget  gray-bg p-4">
						<h5 class="mb-4">Agendar una Cita</h5>

						<ul class="list-unstyled lh-35">
							<li class="d-flex justify-content-between align-items-center">
								<a href="#">Lunes - Viernes</a>
								<span>9:00 - 17:00</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
								<a href="#">Sábado</a>
								<span>9:00 - 16:00</span>
							</li>
							<li class="d-flex justify-content-between align-items-center">
								<a href="#">Domingo</a>
								<span>Cerrado</span>
							</li>
						</ul>

						<div class="sidebar-contatct-info mt-4">
							<p class="mb-0">¿Necesitas Ayuda Urgente?</p>
							<h3 class="text-color-2">+56-1645-1518</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- footer Start -->
	<footer class="footer section gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 mr-auto col-sm-6">
					<div class="widget mb-5 mb-lg-0">
						<div class="logo mb-4">
							<img src="images/logoSF.png" alt="" class="img-fluid">
						</div>
						<p>PrediSalud se compromete a brindar atención médica de la más alta calidad, utilizando
							tecnología avanzada y un equipo de profesionales expertos para garantizar el bienestar
							integral de nuestros pacientes.</p>

						<ul class="list-inline footer-socials mt-4">
							<li class="list-inline-item"><a href="https://www.facebook.com/themefisher"><i
										class="icofont-facebook"></i></a></li>
							<li class="list-inline-item"><a href="https://twitter.com/themefisher"><i
										class="icofont-twitter"></i></a></li>
							<li class="list-inline-item"><a href="https://www.pinterest.com/themefisher/"><i
										class="icofont-linkedin"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="widget mb-5 mb-lg-0">
						<h4 class="text-capitalize mb-3">Departamentos</h4>
						<div class="divider mb-4"></div>

						<ul class="list-unstyled footer-menu lh-35">
							<li><a href="#">Cirugía </a></li>
							<li><a href="#">Salud Femenina</a></li>
							<li><a href="#">Radiología</a></li>
							<li><a href="#">Cardiología</a></li>
							<li><a href="#">Medicina</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="widget mb-5 mb-lg-0">
						<h4 class="text-capitalize mb-3">Soporte</h4>
						<div class="divider mb-4"></div>

						<ul class="list-unstyled footer-menu lh-35">
							<li><a href="#">Términos y Condiciones</a></li>
							<li><a href="#">Política de Privacidad</a></li>
							<li><a href="#">Soporte de la Compañía </a></li>
							<li><a href="#">Preguntas Frecuentes</a></li>
							<li><a href="#">Licencia de la Compañía</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="widget widget-contact mb-5 mb-lg-0">
						<h4 class="text-capitalize mb-3">Contacto</h4>
						<div class="divider mb-4"></div>

						<div class="footer-contact-block mb-4">
							<div class="icon d-flex align-items-center">
								<i class="icofont-email mr-3"></i>
								<span class="h6 mb-0">Soporte Disponible 24/7</span>
							</div>
							<h4 class="mt-2"><a href="tel:+23-345-67890">Soporte@email.com</a></h4>
						</div>

						<div class="footer-contact-block">
							<div class="icon d-flex align-items-center">
								<i class="icofont-support mr-3"></i>
								<span class="h6 mb-0">Lunes a Viernes : 08:30 - 18:00</span>
							</div>
							<h4 class="mt-2"><a href="tel:+23-345-67890">+56-1645-1518</a></h4>
						</div>
					</div>
				</div>
			</div>

			<div class="footer-btm py-4 mt-5">
				<div class="row align-items-center justify-content-between">
					<div class="col-lg-6">
						<div class="copyright">
							&copy; Derechos Reservados a <span class="text-color">PrediSalud</span> por <a
								href="https://themefisher.com/" target="_blank">Erick Antonio</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="subscribe-form text-lg-right mt-5 mt-lg-0">
							<form action="#" class="subscribe">
								<input type="text" class="form-control" placeholder="Tu Correo Electrónico">
								<a href="#" class="btn btn-main-2 btn-round-full">Subscribete</a>
							</form>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-4">
						<a class="backtop js-scroll-trigger" href="#top">
							<i class="icofont-long-arrow-up"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</footer>


	<!-- 
    Essential Scripts
    =====================================-->


	<!-- Main jQuery -->
	<script src="plugins/jquery/jquery.js"></script>
	<!-- Bootstrap 4.3.2 -->
	<script src="plugins/bootstrap/js/popper.js"></script>
	<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="plugins/counterup/jquery.easing.js"></script>
	<!-- Slick Slider -->
	<script src="plugins/slick-carousel/slick/slick.min.js"></script>
	<!-- Counterup -->
	<script src="plugins/counterup/jquery.waypoints.min.js"></script>

	<script src="plugins/shuffle/shuffle.min.js"></script>
	<script src="plugins/counterup/jquery.counterup.min.js"></script>
	<!-- Google Map -->
	<script src="plugins/google-map/map.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>

	<script src="js/script.js"></script>
	<script src="js/contact.js"></script>

</body>

</html>